.invite-friends {
  display: flex;
  justify-content: space-between;
  padding-block: fluid-to-laptop(40, 32);
  padding-inline: fluid-to-laptop(80, 32);
  background-color: var(--color-accent);
  border-radius: var(--border-radius-xl);

  @include mobile {
    flex-direction: column;
    row-gap: 32px;
    padding: 32px 20px 20px;
  }

  &__text {
    display: grid;
    row-gap: fluid-to-laptop(24, 16);
    color: var(--color-white);

    @include mobile-above {
      max-width: fluid-to-laptop(508, 275);
    }
  }

  &__link {
    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-inline: fluid-to-laptop(71, 20);
      padding-top: fluid-to-laptop(28, 20);
      padding-bottom: fluid-to-laptop(18, 10);
      background-color: #f1f4f8;
      border-radius: var(--border-radius-l);

      @include mobile-above {
        align-self: center;
      }
    }

    &-button-wrapper {
      display: flex;
      align-items: center;
      column-gap: 8px;
    }
  }
}
