.subscription-card {
  display: grid;
  grid-template-columns: 1fr;        // мобилка — одна колонка
  gap: 24px;                         // или твоя переменная
  align-items: start;
  background-color: var(--color-white);
  border-radius: var(--border-radius-xl);

  @include mobile-above {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &__body {
    display: grid;
    row-gap: 38px;
    padding-block: fluid(60, 32);
    padding-inline: fluid(60, 20);

    @include tablet {
      row-gap: 24px;
    }

    @include mobile {
      row-gap: 32px;
    }

    &-text {
      display: grid;
      row-gap: fluid(22, 16);
      max-width: 440px;
    }
  }

  &__description {
    @include tablet {
      display: none;
    }

    @include mobile {
      display: block;
    }
  }

  &__image {
    display: block;                    // убрать лишний нижний зазор
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius-xl);
    overflow: hidden;

    @include mobile-above {
      height: 100%;
    }

    @include mobile {
      order: -1;
    }
  }

  &__button-wrapper {
    @include mobile {
      display: contents;
    }
  }
}
