.field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 12px;

  &__label {
    font-size: fluid-to-laptop(17, 14);
    color: var(--color-black1);
  }

  &__required-star {
    color: red;
  }

  &__control {
    position: relative;
    width: 100%;
    height: 54px;
    padding-inline: 24px;
    color: var(--color-black1);
    background-color: #F1F4F8;
    border: 1px solid transparent;
    border-radius: var(--border-radius);

    @include hover {
      border-color: #838099;
    }

    &:user-invalid {
      border-color: red;
    }

    &:not([placeholder='********']) {
      &:user-invalid {
        background: url("/src/assets/images/input/input-invalid.jpg") center/cover no-repeat;
      }

      &:user-valid  {
        background: url("/src/assets/images/input/input-valid.jpg") center/cover no-repeat;

        &:focus-visible {
          background: url("/src/assets/images/input/input-valid-focus.jpg") center/cover no-repeat;
        }
      }
    }



    &:disabled {
      @include disabled;
    }

    &::placeholder {
      color: #9C99AD;
    }
  }

  &__button {
    position: absolute;
    bottom: 18px;
    right: 14px;

    &:not(.is-active) {
      display: none;
    }
  }
}
