.how-it-works {
  &__inner {
    display: grid;
    row-gap: fluid(20, 16);
  }

  &__step-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;

    @include mobile {
      grid-template-columns: 1fr;
    }
  }

  &__step-card {
    display: grid;
    row-gap: 26px;
    padding: 6px 6px 40px 40px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-xl);

    @include tablet {
      padding: 20px;
    }

    &-body {
      display: flex;
      justify-content: space-between;
      align-items: end;

      @include tablet {
        align-items: center;
      }
    }

    &-description {
      max-width: 227px;

      &--short {
        max-width: 115px;
      }

      @include mobile {
        max-width: none;
      }
    }

    &-image {
      width: fluid-to-laptop(173, 80);
    }
  }
}
