.footer {
  padding-top: 40px;
  padding-bottom: 12px;
  color: var(--color-white);
  background-color: var(--color-accent);

  &__inner {
    display: grid;
    row-gap: 40px;
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(4, auto);

    @include mobile {
      grid-template-columns: repeat(2, auto);
      gap: 40px 28px;
    }
  }

  &__logo {
    display: grid;
    row-gap: 23px;

    @include tablet {
      row-gap: 12px;
    }

    @include mobile {
      grid-column: -1 / 1;
    }

    &-icon {
      display: flex;
      align-items: center;
      column-gap: 13px;
      font-weight: 500;
    }

    &-description {
      max-width: 179px;

      @include mobile {
        max-width: 100%;
      }
    }
  }

  &__nav {
    display: grid;
    row-gap: 20px;

    &-title {
      font-size: 18px;
      font-weight: 500;
    }

    &-list {
      display: grid;
      row-gap: 12px;
    }

    &-link {
      @include hover {
        text-decoration: underline;
        color: var(--color-white);
      }
    }
  }

  &__soc1als {
    display: flex;
    flex-direction: column;
    align-items: end;

    @include mobile {
      grid-column: -1 / 1;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__soc1al {
    display: flex;
    column-gap: 10px;
  }

  &__extra {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    @include tablet {
      font-size: 15px;
      border-top: 1px solid #afafaf;

      &::after,
      &::before {
        --width: calc((100vw - 100%) / 2);

        content: '';
        position: absolute;
        top: -1px;
        width: var(--width);
        height: 1px;
        background-color: #afafaf;
      }

      &::after {
        left: calc(0px - var(--width));
      }

      &::before {
        right: calc(0px - var(--width));
      }
    }

    @include mobile {
      flex-direction: column;
    }

    &-text {
      padding-top: 12px;
      font-weight: 300;
      line-height: 130%;
      color: #afafaf;
    }
  }
}
